{% extends "base.html" %}
{% block content %}
<div class="container mt-5" >
  <div class="card mx-auto" style="max-width: 600px; background-color: transparent;">
    <div class="card-body" >
      {% if object %}
      <h1 class="text-center">Edit <span class="text-primary">{{ object.name }}</span></h1>
      {% else %}
      <h1 class="text-center">Add Event</h1>
      {% endif %}
      <form action="" method="POST" >
        {% csrf_token %}
        <div class="mb-3">
          <label for="{{ form.name.id_for_label }}" class="form-label text-dark">Event Name</label>
          {{ form.name }}
        </div>
        <div class="mb-3">
          <label for="{{ form.date.id_for_label }}" class="form-label text-dark">Date</label>
          <input type="date" class="form-control" value="{{ form.date.value}}" >
      </div>      
        <div class="mb-3">
          <label for="{{ form.sport.id_for_label }}" class="form-label text-dark">Sport</label>
          {{ form.sport }}
        </div>
        <div class="mb-3">
          <label for="{{ form.description.id_for_label }}" class="form-label text-dark">Description</label>
          {{ form.description }}
        </div>
        <div class="mb-3">
          <label for="{{ form.location.id_for_label }}" class="form-label text-dark">Location</label>
          {{ form.location }} {{ form.location.errors }}
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
