{% extends 'base.html' %}
{% block content %}
<div class="container text-center">
  <h1>Event Details</h1>
  <div class="card {% if event.sport == 'Baseball' %} card-baseball
                {% elif event.sport == 'Football' %} card-football
                {% elif event.sport == 'Basketball' %} card-basketball
                {% endif %}" style="max-width: 500px; margin: 0 auto;">
    <div class="card-content" style="background-size: cover;">
      <p>Event: {{event.name}}</p>
      <p>Host: {{event.user.username}}</p>
      <p>Location: {{event.location}}</p>
      <p>Date: {{event.date_time}}</p>
      <p>Sport: {{event.sport}}</p>
      <p>Description: {{event.description}}</p>
      <div>
        <img src="{{ event.map_url }}" alt="Static Map" width="300" height="300">
        <div class="directions-link" style="background-color: rgba(200, 200, 200, 0.5); padding: 10px;">
          <p><a href="https://www.google.com/maps/dir/?api=1&destination={{ event.location }}" target="_blank" style="color: darkblue; text-decoration: underline;">Get Directions</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3">
       {% if request.user == event.user %} 
       <a href="{% url 'events_update' event.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'events_delete' event.id %}" class="btn btn-danger ml-2">Delete</a>
{% endif %}
  </div>
  <form action="{% url 'add_comment' event.id %}" method="POST">
    {% csrf_token %}
    <div class="mb-3" style="max-width: 500px; margin: 0 auto;">
      <label for="{{ comment_form.comment.id_for_label }}" class="form-label text-dark">Comment</label>
      <textarea class="form-control" name="{{ comment_form.comment.name }}" rows="4" placeholder="Add your comment here">{{ comment_form.comment.value|default:'' }}</textarea>
    </div>
    <div class="mb-3 text-center">
      <strong>{{ comment_form.attending.label_tag }}</strong><br>
      {{ comment_form.attending }}
    </div>
    <div class="text-center">
      <input type="submit" class="btn btn-primary mt-3" value="Add Comment">
    </div>
  </form>
  <table class="table mt-3" style="max-width: 600px; margin: 0 auto;">
    <thead>
      <tr><th>Username</th><th>Comment</th><th>Attending</th><th>Edit Comment</th><th>Delete Comment</th></tr>
    </thead>
    <tbody>
      {% for comment in event.comment_set.all %}
      <tr>
        <td>{{ comment.user.username }}</td>
        <td>{{ comment.comment }}</td>
        <td>{{ comment.attending }}</td>
        {% if request.user == comment.user %}
        <td><a href="{% url 'delete_comment' event.id comment.id %}" class="btn btn-danger btn-sm">Delete Comment</a></td>
        <td><a href="{% url 'edit_comment' event.id comment.id %}" class="btn btn-secondary btn-sm">Edit Comment</a></td>
        {% else %}
        <td> </td>
        <td> </td>
        {% endif %}
      </tr>
    {% endfor %}
    
  </table>
</div>
{% endblock %}
