{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="event list">Event List</h1>
<div class="row">
  {% if events %} 
  {% for event in events %}
  <div class="col-md-4 mb-4">
    <a href="{% url 'detail' event.id %}">
      <div class="card {% if event.sport == 'Baseball' %} card-baseball
                       {% elif event.sport == 'Football' %} card-football
                       {% elif event.sport == 'Basketball' %} card-basketball
                       {% endif %}">
        <div class="card-content">
          <span class="card-title">{{ event.name }}</span>
          <p>Location: {{ event.location }}</p>
          <p>Date: {{ event.date_time }}</p>
          <p>Sport: {{ event.sport }}</p>
        </div>
      </div>
    </a>
  </div>
  {% endfor %} 
  {% else %}
  <h5>You haven't created any events yet</h5>
  {% endif %}
</div>
{% endblock %}