.bg-image {
    background-image: url('{% static "home/img/background.png" %}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
