{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Outings</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap.css' %}" />
  </head>
  <body>
    <header>
      {% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}">Log Out</a></li>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'index' %}">View All Your Events</a></li>
      <li><a href="{% url 'events_create' %}">Add an Event</a></li>
      {% else %}
      <li><a href="{% url 'signup' %}">Sign Up</a></li>
      <li><a href="{% url 'login' %}">Log In</a></li>
      {% endif %}
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
  </body>
</html>
