<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

{% extends "base.html" %} {% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="jumbotron text-center">
                <h1 class="display-4">Welcome to Outings and Occurrences</h1>
                <p class="lead">Your go-to platform for discovering and hosting fun sports events.</p>
                <hr class="my-4">
                <p>Connect, socialize, and create memorable experiences with fellow sports enthusiasts!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
